<%- include ('header') %>


<div class='container'>

    <form method="get" action="inscricao">

     <input name='nome' type="text" placeholder="Digite seu nome:">
     <input name='email' type="email" placeholder="Digite seu email:">
     <input name='numero' type="number" placeholder="Digite seu numero:">

     <button class="botaofinal">Enviar</button>
    </form>

    <div class="resultado">
        
        <% if(error){ %>
            <%= error %>
            <% }else{ %>
          Nome <%= nome %>  de email <%= email %> e numero  <%= numero %>
          Voce ganhou  ponto :  <%= ponto %>
          <% }%>     
   

         


</div>
<div class="test">
    <a href="inscricao">https://'compartilhe-campanha-de-carbono'</a>
    
</div>
<a class="othera" href="inscricao">Compartilhar link</a>

<%- include ('footer') %>
